<div class="container">
<h2>Editing passanger</h2>

<%= render "form", passanger: @passanger %>

<br>

<div>
  <%= link_to "Back to passangers", passangers_path,class: "btn btn-secondary" %>
</div>
</div>